* {
    font-family: cursive;
    margin: 0%;
    padding: 0%;
}
div.heading {
    text-align: center;
    background-color: red; 
    padding: 10px;
}
div.heading h1 {
    color: white;
    border: 4px white solid;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
}
header img{
    width: 100%;
    border-bottom: 8px red solid;
}
div.links {
    background-color: grey;
    text-align: center;
}
div.links ul li {
    display: inline;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
}
div.links ul li a {
    color: white;
    text-decoration: none;
}
div.content {
    text-align: center;
    margin: 50px;
}
div.content h2 {
    font-size: 50px;
    color: red;

}
div.content p {
    font-size: 25px;
    text-align: justify;
    line-height: 50px;
}
div.form-container {
    background-color: lightgrey;
    text-align: center;
    padding: 40px;
}
div.form-container form label {
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
div.form-container form input {
    border-radius: 30px;
    border: red 4px solid;
    font-size: 30px;
}
footer div.heading h1 {
    border: none;
}